body {
  background-color: #edf2f4;
  padding: 0px;
  margin: 0px;
}

/* Header Section */

.header {
  background-color: #d2d5d6;
  text-align: right;
  padding-right: 0px;
  /* padding-top: -30px; */
  box-shadow: 0px 1px 6px 6px rgba(0, 0, 0, 0.2);
  position: sticky; top: 0;
}

ul {
  overflow: hidden;
}

li {
  color: black;
  text-decoration: none;
  display: inline;
  text-align: center;
  padding-left: 1.5rem;
}

li:hover {
  text-decoration: underline;
  color: #3b2a2a;
}
.items {
  /* display: inline; */
  padding: 8px 15px;
}

/* Body Section */
.body-section {
  padding-top: 7rem;
  padding-bottom: 5rem;
  text-align: center;
  /* box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2); */
}

.item2 input{
  border: none;
}
/* .try1 {
  display: flex;
  z-index: 3;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: inherit;
  margin: 0 auto;
  width: 638px;
  width: auto;
  max-width: 584px;
}
.try1:hover {
  background-color: rgb(245, 243, 243);
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}
.search-logo {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.try1 input {
  border: none;
  width: 570px;
  height: 34px;
  margin-top: 10px;
  margin-left: 0px;
} */
/* .search-nav {
  padding-top: 20px;
} */

/* Rough Work */
/* .rough {
  height: 44px;
  margin-left: 23rem;
  margin-right: 23rem;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.2);
  background-color: #fffbfb;
}

.rough:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.2);
}

.try-items{
    display: flex;
}
/* .item2 input{
    width: 54px;
    height: 40px;
    margin-left: 6px;
    border: none;
} */ 

button{
  border: none;
  border-radius: 3px;
  background-color: #f8f6f6;
  height: 35px;
}


/* Rough Work Css */

.cl1 {
  background-color: yellow;
}
.cl2 {
  background-color: rgb(18, 119, 9);
}
.cl2 input {
  width: 112%;
}

.cl3 {
  background-color: rgb(0, 255, 98);
  width: 25%;
}
.cl4 {
  background-color: rgb(225, 0, 255);
}

.another {
  /* background-color: bisque; */
  display: flex;
  border-radius: 20px;
}

.cll2 {
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.2);
  background-color: #fffbfb;
  border-radius: 20px;
  text-align: center;
  display: flex;
}

.col-12 button:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.2);
}

.left, .right{
    background-color: chocolate; 
}

.centre{
    background-color: darkcyan;
}
input{
    outline: none;
}

/* Footer Section CSS */
.footer{
  /* font-family: sans-serif; */
  /* font-weight: 20px; */
  position: fixed;
  
  /* padding: 10px 10px 0px 10px; */
  bottom: 0;
  width: 100%;
  text-align: center;
  /* margin-top: 30px; */
  /* height: 80px; */
  /* background-color: burlywood; */
}



.footer .upper{
  background-color: rgb(224, 221, 221);
  text-align: left;
  height: 50px;
  width: 100%;
  border-bottom: .1px solid rgb(206, 206, 206);
}
.footer .upper{
  color: #70757a;
  padding: 17px;
}
.footer .lower{
  background-color: rgb(226, 226, 226);
  height: 50px;
  display: flex;
  width: 100%;
  padding: 10px 15px;
}

.footer a{
  text-decoration: none;
  color: #70757a;
  opacity: 0.8;
  padding: 10px;
}

.footer a:hover{
  text-decoration: underline;
  opacity: 1;
}
